.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner #main-nav {

  .navbar-brand {
    img {
      height: 5rem;
      width: 8rem;
    }
  }

  #navbarNav {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: black;
    }
  }
}

